<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/cart.css">
    <title>Temu | Shopping Cart</title>
    <script>
        $.get("/cart",
            {
                cart: window.localStorage.getItem("cart")
            }
        ).done(function () {
            $.get('/getCartInfo', (data) => {
                $('#content').html(data);
            });
            $.get('/footer', (data) => {
                $('#footer').html(data);
            });
        });

        window.onload = function () {
            let headerInfo = ['All data is encrypted', 'Refund if item damaged', '30-day no delivery refund', '$5.00 Credit for delay', '15-day no update refund'];
            let i = 1;
            setInterval(() => {
                $('#header-info').text(headerInfo[i]);
                i++;
                if (i === 4) {
                    i = 0;
                }
            }, 3000);

            $(".tab-title").click(function () {
                let temp = $(this).next(".tab-content");
                if ($(temp).css("display") == "grid") {
                    updateShippingInfo()
                    $(temp).css("display", "none");
                    $(this).children("img").css("transform", "rotate(0deg)");
                } else {
                    $(temp).css("display", "grid");
                    $(this).children("img").css("transform", "rotate(90deg)");
                }
            })

            $(".checkout-btn").click(function () {
                updateShippingInfo();
                $("#content").html(
                    '<div style="font-size: 16px; text-align: center; color: #777; padding: 150px 0;">'
                    + '<img src="/orange-check.png" alt="shopping-cart" width="200" height="200" />'
                    + ' <div style="font-size: 20px; font-weight: 600; margin: 20px 0 10px; color: black;">Ordered successfully</div>'
                    + '<div>Thank you for ordering!!!</div>'
                    + '</div>'
                );
                $.ajax("/removeAllItems", { type: "DELETE" });
                window.localStorage.removeItem("cart");
            });
        }

        window.onbeforeunload = function () {
            updateShippingInfo();
        };

        function backHome() {
            window.location.href = "/";
        }

        function changeCart(fieldName, value, product_id, size) {
            $.ajax("/updateCart",
                {
                    type: "PUT",
                    data: {
                        product_id: product_id,
                        size: size,
                        [fieldName]: value
                    }
                }
            ).done(function (data) {
                window.localStorage.setItem("cart", JSON.stringify(data.cart));
                Object.getOwnPropertyNames(data.summary).forEach((figure) => {
                    $('.' + figure).text(data.summary[figure]);
                });
            });
        }

        function removeItem(element, product_id, size) {
            $.ajax("/removeItem",
                {
                    type: "DELETE",
                    data: {
                        product_id: product_id,
                        size: size
                    }
                }
            ).done(function (data) {
                if (parseInt(data.summary.numOfItems) === 0) {
                    updateShippingInfo();
                    $('#content').html('<div style="font-size: 16px; text-align: center; color: #777; padding: 200px 0;">There is no item in the cart.</div>');
                }
                $(element).parent().parent().parent().parent().remove();
                window.localStorage.setItem("cart", JSON.stringify(data.cart));
                Object.getOwnPropertyNames(data.summary).forEach((figure) => {
                    $('.' + figure).text(data.summary[figure]);
                });
            });
        }

        function updateShippingInfo() {
            $.ajax("/updateShippingInfo",
                {
                    type: "PUT",
                    data: {
                        country: $("[name='country']").find(":selected").val(),
                        name: $("[name='name']").val(),
                        address: $("[name='address']").val(),
                        zipCode: $("[name='zipCode']").val(),
                        phoneNumber: $("[name='phoneNumber']").val(),
                        paymentMethod: $("[name='paymentMethod']").find(":checked").val()
                    }
                }
            );
        }
    </script>
</head>

<body>
    <div class="header">
        <div class="header-container">
            <a href="/"><img src="/temu-icon.png" alt="temu" width="70"></a>
            <div id="header-info">All data is encrypted</div>
        </div>
    </div>
    <div style="padding: 15px 40px 0; font-size: 14px;">
        <span class="parent-page" onclick="backHome()">Home > </span>
        <span>Cart</span>
    </div>
    <div id="content" style="padding-bottom: 40px;"></div>
    <div id="footer"></div>
</body>

</html>