<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .checkout {
            border-radius: 5px;
            border: 1px solid transparent;
            font-size: medium;
            background-color: orange;
            color: white;
            padding: 10px;
            width: 200px;
            margin-top: 30px;
            margin-right: 20px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/utility.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script>
        $(document).ready(function () {
            $.get('/header', (data) => {
                $('#header').html(data);
            });
        });

         $.get('/productList', (data) => {
                $('#product-list').html(data);
            }).done(function () {
                showExistingCheckout();
            });

        

    </script>
</head>

<body>
    <div id="header"></div>
    <div style="display: flex;">
    <div id="product-list" style=" margin-left: 50px;margin-top: 30px; margin-right: 50px;"></div>
    <div style="display: flex; gap: 10px; ">
        <hr class="vertical-line"/>
        <div>
            <div
                style="border: 1px solid purple; height: 30px; width: 150px; display: flex;align-items: center;justify-content: center;gap: 5px;
        background-color: purple; border-radius: 20px; padding: 5px; color: white; text-align: center; margin-left: 20px; margin-top: 20px;">
                    <img src="/cart.svg" style="width: 25px; height: 25px;" />Subtotal
                </div>
                <div id="subTotal" style="display: none; text-align: center; margin-top: 20px; font-size: larger;">
                    <b>10.24 $</b>
                </div>
                <div
                    style="display: flex; align-items: center; background-color: rgba(255, 166, 0, 0.41);
            width: 150px;  margin-left: 20px; font-size: small; gap: 10px; padding: 5px; border-radius: 5px; border: 1px solid transparent; justify-content: center; margin-top: 20px;">
                    <img src="/check.png" style="width: 25px; height: 25px; " />
                    <label>Free </br>shipping</br> on all </br>orders</label>
                </div>
                <button id="checkout" class="checkout"><b>Checkout</b></button>
            </div>
        </div>
    </div>
</body>

</html>