<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<body>
    <div class="header">
        <div class="header-container">
            <img src="temu-icon.png" alt="" width="70">
            <div class="header-option">
                <img src="like.svg" alt="like" />
                <span>Best Sellers
                    <img src="hot-label.webp" alt="hot-label" width="30" height="14" style="position: absolute; margin-left: -20px; top: 13px;" />
                </span>
            </div>
            <div class="header-option">
                <img src="star.svg" alt="star">
                <span>5-Star Rated</span>
            </div>
            <div class="header-option">
                <img src="sale.svg" alt="sale">
                <span>Seasonal Sale</span>
            </div>
            <div class="header-option">
                <span>New Arrivals</span>
            </div>
            <div class="header-option">
                <span>Categories</span>
            </div>
            <div class="header-search">
                <input type="text" placeholder="computer" />
                <div class="header-search-icon"><img src="search.png" alt="search" width="15"></div>
            </div>
            <div class="header-option">
                <img src="avatar.webp" alt="avatar" width="23" height="23">
                <span>Orders & Account</span>
            </div>
            <div class="header-option">
                <img src="chat.svg" alt="chat" width="28">
                <span>Support</span>
            </div>
            <div class="header-option">
                <img src="flag.webp" alt="flag" width="23" height="23">
                <span>EN</span>
            </div>
            <div class="header-option">
                <img src="cart.svg" alt="cart" width="23">
                <span>Cart</span>
            </div>
        </div>
    </div>
</body>
</html>