<html>

<head>
    <style>
        .priceClass {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid transparent;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.645);
            color: white;
            padding: 5px;
            display: inline-block;
            width: 70px;
            text-align: center;

        }

        .product {
            position: relative;
            text-align: center;
            margin-bottom: 20px;

        }

        .borderStyle {
            border: 1px solid rgba(128, 128, 128, 0.16);
        }

        .roundedText {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: rgba(220, 220, 220, 0.377);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $('.borderStyle').on('click', function () {
            navigateToPage2();
        });

        function navigateToPage2() {
            window.location.href = "/categoryList/1" ;
        }
    </script>
</head>

<body>
    <h2 style="text-align: center;"> Recomended Providers</h3>
        <div style="display: flex;  gap: 5%;">
            <div class="borderStyle">
                <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 400px;">
                    <div class="product">
                        <img src="/img11.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$2.99</label>
                    </div>
                    <div class="product">
                        <img src="/img12.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$1.99</label>
                    </div>
                </div>
                <div style="display: flex; margin: 10px; justify-content: space-between; align-items: center;">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="roundedText">𝔞𝔦𝔨</div>
                        <div style="font-size: larger; margin-left: 10px;">AIKLLY
                            <div style="display: flex;">
                                <div style="color: grey; font-size:medium; margin-top: 10px;">76K+ Sold | </div>
                                <div style="margin-top: 5px;">★★★★★</div>
                            </div>
                        </div>

                    </div>
                    <div><img src="/arrow.png" width="20px" height="20px" style="float: right;" /></div>

                </div>
            </div>
            <div class="borderStyle">
                <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 400px;">
                    <div class="product">
                        <img src="/img13.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$3.99</label>
                    </div>
                    <div class="product">
                        <img src="/img14.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$2.99</label>
                    </div>
                </div>
                <div style="display: flex; margin: 10px; justify-content: space-between; align-items: center;">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="roundedText">𝓸𝓵𝓮𝓷</div>
                        <div style="font-size: larger; margin-left: 10px;">OLENBEN
                            <div style="display: flex;">
                                <div style="color: grey; font-size:medium; margin-top: 10px;">13K+ Sold | </div>
                                <div style="margin-top: 5px;">★★★★★</div>
                            </div>
                        </div>

                    </div>
                    <div><img src="/arrow.png" width="20px" height="20px" style="float: right;" /></div>

                </div>
            </div>
            <div class="borderStyle">
                <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 400px;">
                    <div class="product">
                        <img src="/img11.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$3.99</label>
                    </div>
                    <div class="product">
                        <img src="/img15.jpeg" width="200px" height="200px" />
                        <label class="priceClass">$2.99</label>
                    </div>
                </div>
                <div style="display: flex; margin: 10px; justify-content: space-between; align-items: center;">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="roundedText">𝖜𝖔𝖔𝖉</div>
                        <div style="font-size: larger; margin-left: 10px;">WOODLEND
                            <div style="display: flex;">
                                <div style="color: grey; font-size:medium; margin-top: 10px;">10K+ Sold | </div>
                                <div style="margin-top: 5px;">★★★★★</div>
                            </div>
                        </div>

                    </div>
                    <div><img src="/arrow.png" width="20px" height="20px" style="float: right;" /></div>

                </div>
            </div>
            <!-- <div class="borderStyle">
                <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 400px;">
                    <div class="product">
                        <img src="/img13.jpeg" width="200px" height="200px"/>
                        <label class="priceClass">$3.99</label>
                    </div>
                    <div class="product">
                        <img src="/img12.jpeg" width="200px" height="200px"/>
                        <label class="priceClass">$2.99</label>
                    </div>
                </div>
                <div style="display: flex; margin: 10px; justify-content: space-between; align-items: center;"> 
                        <div style="display: flex; justify-content: space-between;">
                            <div class="roundedText">𝖝𝖞</div>
                            <div style="font-size: larger; margin-left: 10px;">XYTHI 
                                <div style="display: flex;">
                                    <div style="color: grey; font-size:medium; margin-top: 10px;">13K+ Sold | </div>
                                    <div style="margin-top: 5px;">★★★★★</div>     
                                </div>
                            </div>
                            
                        </div>
                        <div><img src="/arrow.png" width="20px" height="20px" style="float: right;"/></div>   
                </div> -->
        </div>
        </div>
</body>

</html>